.boundary {
    fill: #fff;
    stroke: #000;
    stroke-linejoin: round;
    stroke-width: 1px;

  }

svg {
    margin-left: 80px;
    position: absolute;
    margin-top:50px;
    text-align: middle !important;

  }

#menu {
     float: left; 
      background: rgb(39,92,157);
      margin-left: 3.0%;
      border-style: solid;
      border-width: 1px;
      border-color: black;
      margin-top:2.5%;
      height: 50px !important;
}

#map {
    background: white;
    margin-left: 6%;
    position: relative;
}

.legenda {
    position: absolute;
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(39,92,157);
    border: solid thin #fff;
    padding: 5px;

}

.legenda h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;

}

.legenda b{
    float: left;

}

.nome_legenda {
    display: inline-block;
    margin: -25px 0px 0px 40px;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
}

body {
    background-color: rgb(255,255,255);
    padding-bottom: 20px;
}

select {
    background-color: rgb(255,192,0);
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Inconsolata', monospace;
}

#head {
    padding: 2rem 15px;
    color: black;
    text-align: center;
    background-color: rgb(255,192,0);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    border: solid black;
    font-family: 'Days One', sans-serif;
    font-size: 30px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 96%;  
    width: 96%;
}

#prod {
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
}

h2 {
    margin-top: -15px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  

  font-family: 'PT Mono', monospace;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  

  border-left: 15px solid rgb(255,192,0);
  border-right: 2px solid rgb(255,192,0);
  

  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; 
  
  font-family: 'PT Mono', monospace;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

p { 
     font-family: 'Roboto', sans-serif;
}

#conteudo {
    width: 95%;
    margin-left: 2.5%
}

.svg-container {
    display: inline-block;
    position: absolute;
    width: 40%;
    vertical-align: top;
    padding-bottom: 35%;
}

#container {
    display: flex;

}

a:visited {
    color: #097054;
}

a:link {
    color: #003366;
}

.footer p{
    text-align: center;
    font-size: 10px !important; 
}

li {
    font-family: 'Roboto', sans-serif;
}

#sankey p{
    margin-left: 2.5%
}

#sankey li{
    margin-left: 3.0%
}

#legenda_mapa {
    background: white;
    margin-left: -14%;
    position: relative
}

#pieContainer{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 45%;  
    width: 30%;
    margin-right: auto; 
    margin-left: 27%;
    margin-top: -50px;


}

#barContainer{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 65%;  
    width: 30%;
    margin-right: auto; 
    margin-left: 27%;

}

.dimple-axis-x > .tick line {
  visibility:hidden;
}   

#conteudoPie > p {
    width: 95%;
    margin-left: 2.5%;
    margin-top:30px
    
}


#conteudoBar > p {
    width: 95%;
    margin-left: 2.5%;
    margin-top:30px
    
}